@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Definindo etilos iniciais para todos os elementos da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-topo {
    background-color: white;
    padding: 35px 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.container-logo {
    max-width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logo-img {
    width: 50px;
    height: 50px;
  }
  
.container-logo-img img {
    width: 100%;
    height: 100%;
  }

.container-alfatech{
    margin-left: 5px;
}
.container-alfatech h1{
    font-size: 24px;
}

.container-alfatech p{
    font-size: 14px;
    font-weight: 500;
    color: #2f86d6;
}

.container-links {
    width: 385px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.container-links a {
    font-weight: 600;
    text-decoration: none;
    color: #233032;
    font-size: 14px;
  }

.container-links a:hover{
    color: #2f86d6;
}

.secao-banner {
    background-color: #2f86d6;
    padding: 0 50px;
}

.container-secao-banner{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container-texto{
    color: white;
    padding: 10px 20px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1 1 308px;

}

.container-banner-img{
    object-fit: cover;
    /* A propriedade object-fit: cover é útil quando você precisa ajustar imagens ou vídeos em um contêiner de tamanho fixo,
     garantindo que o conteúdo seja exibido sem distorções e ocupando todo o espaço disponível. Isso é especialmente útil em
     layouts responsivos, onde o tamanho do contêiner pode variar em diferentes dispositivos. */
}

/* Definindo estilos para telas menores */
@media (max-width: 950px) {
    .container-links a {
      font-size: 12px;
    }

    .container-banner-img img{
       max-width: 80%;
    }
    .container-texto{
        max-width: 100%;
    }
  }
